@{
    ViewBag.Title = "Home";
}

<div class="hero-section">

    <div class="container">

        <div class="row">

            <div class="col-2">

                <h1>
                    Master English with
                    <br />
                    Industry-Leading Courses
                </h1>

                <p>
                    Empower your future with expert-led curriculum and internationally recognized certifications.
                </p>

                <a href="#" class="btn btn-danger">
                    Explore Courses →
                </a>

            </div>

            <div class="col-2">

                <img src="~/Content/images/banner1.png"
                     alt="Banner" />

            </div>

        </div>

    </div>

</div>

